header{
    background-color: #E5E3C9;
}

main{
    background-color: #B4CFB0;
    height: 100%;
}

.navbar{
    border-bottom: 2px solid black;
}

.title-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.title-links h4{
    margin-right: 20px;
}

.form-inline{
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.form-inline .btn{
    margin-left: 10px;
}

.reg-form, .login-form{
    border: 2px solid black;
    padding: 20px;
    background-color: silver;
    margin-left: 20px;
    height: fit-content;
}