<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap link, if desired -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- connect to static folder css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <!-- link to Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header class="navbar">
        <div class="title">
            <h4>Coding Dojo Wall</h4>
        </div>
        <div class="title-links">
            <h4>Welcome, {{user.first_name}}!</h4>
            <a href="/logout" class="btn btn-success">Logout</a>
        </div>
    </header>
    <main>
        <div class="alert">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            <div class="row justify content around">
                <div class="col-lg read-msg">
                    <h3>{{user_msgs|length}} Message(s) for You</h3>
                    {% for msg in user_msgs %}
                    <div class="box row">
                        <div class="msg col-sm-6">
                            <p class="name">{{msg.sender}} said: <span style="color: rebeccapurple;">{{msg.time_span()}}</span>
                            <br> {{msg.content}}</p>
                        </div>
                        <div class="img col-sm-2">
                            <a href="/delete-msg/{{msg.id}}"><span class="material-icons">delete</span></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg send-msg">
                    <h3>Send Messages</h3>
                    <h6>You have sent {{sent_msgs}} messages so far</h6>
                    {% for other_user in all_users %}
                    {% if other_user.id != user.id %}
                    <form action="/send-msg/{{other_user.id}}" method = "post" class="form-inline">
                        <label for="content" class="col-md-2">{{other_user.first_name}}</label>
                        <textarea name="content" cols="20" rows="2" class="col-md-6 form-control"></textarea>
                        <input type="submit" value="Send" class="btn btn-sm btn-success">
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>